body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: poppins;
}

.custom-scrollbars__content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .custom-scrollbars__content::-webkit-scrollbar {
    display: none;
  }

  .MuiButtonBase-root:disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }